<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <script src="js/jquery.js"></script>
    <script src="js/highcharts.js"></script>
    <script src="js/exporting.js"></script>
    <script src="js/heatmap.js"></script>
    <script src="controller/createcharts.js"></script>
    <script src="controller/callApi.js"></script>
    <link type="text/css" rel="stylesheet" href="css/style.css"/>

    <!--<script src="https://code.highcharts.com/highcharts.js"></script>-->
    <!--<script src="https://code.highcharts.com/modules/heatmap.js"></script>-->
    <!--<script src="https://code.highcharts.com/modules/exporting.js"></script>-->
    <title></title>
</head>
<body>
<script>
    $(function () {
//        callAjax("https://play.dhis2.org/demo/dhis-web-commons/security/login.action", "slkdf","dlsfk", function(data){
//            console.log(data);
//        });

//        createBarCharts('#chart1');
//        createLineCharts('#chart2');
//        createOverviewCharts('#chart3');


        autoGenerateChartHtml(1);
        hightChartGridLightTheme();
        createHeatMap("#chart3");

        function autoGenerateChartHtml(numChartGroup) {
            var count = 1;
            var chartGroupId = [];
            for (var i = 0; i < numChartGroup; i++) {
                chartGroupId.push([count++, count++, count++]);
            }
            for (var i = 0; i < numChartGroup; i++) {
                var chartBody = '<div class="container2"> ' +
                        '<div class="container1"> ' +
                        '<div class="col1"> ' +
                        '<div id="chart' + chartGroupId[i][0] + '" style="min-width: 310px; height: 400px;" class="floating-box"></div>' +
                        '</div>' +
                        '<div class="col2">' +
                        '<div id="chart' + chartGroupId[i][1] + '" style="min-width: 310px; height: 400px;" class="floating-box"></div>' +
                        '</div> ' +
                        '</div>' +
                        '</div> ' +
                        '<div class="footer">' +
                        '<div id="chart' + chartGroupId[i][2] + '" style="min-width: 310px; height: 400px " class="floating-box"></div>' +
                        '</div>';
                $('#chartBody').append(chartBody);
            }
            return chartGroupId;
        }

        function hightChartGridLightTheme() {
            // Load the fonts
            Highcharts.createElement('link', {
                href: '//fonts.googleapis.com/css?family=Dosis:400,600',
                rel: 'stylesheet',
                type: 'text/css'
            }, null, document.getElementsByTagName('head')[0]);

            Highcharts.theme = {
                colors: ["#7cb5ec", "#f7a35c", "#90ee7e", "#7798BF", "#aaeeee", "#ff0066", "#eeaaee",
                    "#55BF3B", "#DF5353", "#7798BF", "#aaeeee"],
                chart: {
                    backgroundColor: null,
                    style: {
                        fontFamily: "Dosis, sans-serif"
                    }
                },
                title: {
                    style: {
                        fontSize: '16px',
                        fontWeight: 'bold',
                        textTransform: 'uppercase'
                    }
                },
                tooltip: {
                    borderWidth: 0,
                    backgroundColor: 'rgba(219,219,216,0.8)',
                    shadow: false
                },
                legend: {
                    itemStyle: {
                        fontWeight: 'bold',
                        fontSize: '13px'
                    }
                },
                xAxis: {
                    gridLineWidth: 1,
                    labels: {
                        style: {
                            fontSize: '12px'
                        }
                    }
                },
                yAxis: {
                    minorTickInterval: 'auto',
                    title: {
                        style: {
                            textTransform: 'uppercase'
                        }
                    },
                    labels: {
                        style: {
                            fontSize: '12px'
                        }
                    }
                },
                plotOptions: {
                    candlestick: {
                        lineColor: '#404048'
                    }
                },


                // General
                background2: '#F0F0EA'

            };

// Apply the theme
            Highcharts.setOptions(Highcharts.theme);
        }
    });


</script>

<div id="chartBody"></div>

</body>
</html>